<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TourAgency.Properties.Settings.travel_firm_dbConnectionString" connectionString="Data Source=COMPUTER\SQLEXPRESS;Initial Catalog=travel_firm_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
